@import '../../../styles.scss';

.footer {
    background-color: darken($color-bg-dark, 5%);
    color: $color-text-dim;
    padding: 3rem 0;
    text-align: center;

    .social-links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1.5rem;

        a {
            transition: color 0.3s;

            &:hover {
                color: $color-primary;
            }
        }
    }

    .copyright {
        font-size: 0.9rem;
    }
}